<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TODO 編集</title>
</head>
<body>
    <h1>TODO 編集</h1>

    <form th:action="@{/update/{id}(id=${todo.id})}" method="post">
        タイトル: <input type="text" name="title" th:value="${todo.title}"><br>
        説明: <input type="text" name="description" th:value="${todo.description}"><br>
        重要度: <select name="importance">
            <option value="">選択してください</option>
            <option value="high" th:selected="${todo.importance.name() == 'HIGH'}">高</option>
            //Thymeleaf (th)の場合、value="HIGH"などを使うとDtoへのバインドは自動。

            <option value="
            middle" th:selected="${todo.importance.name() == 'MIDDLE'}">中</option>
            <option value="low" th:selected="${todo.importance.name() =='LOW'}">低</option>
        </select><br>
        締切: <input type="datetime-local" name="deadline" th:value="${todo.deadline}"><br>
        <button type="submit">更新</button>
    </form>
    
    <a href="/">戻る</a>
</body>
</html>
